{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<h2>These are some small projects I just made for giggles. I hope you enjoy them.</h2>
<br>
<div class="fun_select">
    <a href="/lowest"><h2>Find the lowest number in a list</h2></a>
</div>
<h3>I wanted to write an unneccsarily complicated way to find the lowest number in a list.</h3>
<br>
<div class="fun_select">
    <a href="/encoder"><h2>Encode and decode messages</h2></a>
</div>
<h3>I came up with a method of encoding messages which would be particularly hard to crack.</h3>
<h3>This might be a fun chalange for anyone who might consider themselves as a code breaker.</h3>

{% endblock %}